
  <div class="container">





<div class="left">


        <h1> Uniform</h1>
        <h3> L'inscription devient plus simple</h3>

        <ul>
          <li> Un seul formulaire pour toutes les écoles</li>
          <li>Gérez facilement vos candidatures</li>
          <li> Stockez vos données scolaires</li>


        </ul>




</div>

<div class="right">

<div class="title-right">
<h2>Entrez vos identifiants</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  
  <div class="field1">
    <%= f.email_field :email, autofocus: true, placeholder: "email" %>
  </div>

  <div class="field1">
    <br />
    <%= f.password_field :password, placeholder: "password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Connexion", class:"buta"%>
    </div>
<% end %>

</div>

<div class="enjoy-css">
  <p>Créer un compte</p>
<div>


</div>
